{% extends '::board/base.html.twig' %}


{% block body %}
<div id="main" role="main">
    <div id="ribbon">
        <ol class="breadcrumb">
            <li>Home</li><li>Associate</li><li>New</li>
        </ol>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('associate_index') }}">Back to the list</a>
        </li>
    </ul>
</div>

{% endblock %}
